<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sheetal.amigo_thestudybuddy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmigoTheStudyBuddy"
        tools:targetApi="31">
        <activity
            android:name=".FlashCardActivity"
            android:exported="false"
            android:parentActivityName=".ContentActivity"/>
        <activity
            android:name=".ContentActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".DocumentActivity"
            android:exported="false"
            android:parentActivityName=".ExamPaper"/>
        <!--            android:parentActivityName=".HomeActivity"-->

        <activity
            android:name=".Ebooks"
            android:exported="false"
            android:parentActivityName=".ContentActivity" />
        <activity
            android:name=".Notes"
            android:exported="false"
            android:parentActivityName=".ContentActivity" />
        <activity
            android:name=".ExamPaper"
            android:exported="false"
            android:parentActivityName=".ContentActivity" />
        <activity
            android:name=".TrackYourself"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".Calender"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".MyContent"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AmigoTheStudyBuddy.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:parentActivityName=".Login" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AmigoTheStudyBuddy.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>